<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="gachon.termproject.danggeun">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"/>


    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>



    <application
        android:preserveLegacyExternalStorage="true"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Dang_Geun_Bread">

        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Customer.CustomerActivity" />
        <activity android:name=".Signup.Signup00Activity" />
        <activity android:name=".Signup.Signup01Activity"/>
        <activity android:name=".Signup.Signup02Activity" />
        <activity android:name=".Signup.Signup03Activity" />
        <activity android:name=".Signup.Signup04Activity" />
        <activity android:name=".Signup.Signup04Activity_user" />
        <activity android:name=".Signup.Signup05Activity" />
        <activity android:name=".Signup.Signup06Activity" />
        <activity android:name=".ManagerActivity" />
        <activity android:name=".StoreRegister" />
        <activity android:name=".Customer.Bread_Detail" />
        <activity android:name=".MenuRegister" />
        <activity android:name=".Customer.Cart" />
        <activity android:name=".Customer.TimePickerActivity" />
        <activity android:name=".Customer.StoreActivity" />
        <activity android:name=".Util.Model.StoreInfo"></activity>
        <activity android:name=".Bread_list_manager"/>
        <activity android:name=".Cart_Receipt"/>

        //구글맵 API 키
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value=" AIzaSyD3uGLTid10gpIEatgZUlPTb670a8mg33U" />
    </application>

</manifest>